
<p>MVC Exhibition Record</p>

<!--Exhibition Record-->
<div class="tab-pane fade in " id="Exhibition">
    <div class="row">
        <div class="col-md-2"><strong>Date</strong><small>(dd/mm/yy)</small></div>
        <div class="col-md-3"><strong>Match</strong></div>
        <div class="col-md-2"><strong>Result</strong></div>
        <div class="col-md-3"><strong>Venue</strong></div>
        <div class="col-md-2"><strong>Location</strong></div>
    </div>
</div>