

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td></td>
            <td>WEIGHT</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>HEIGHT</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>REACH</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>CHEST(norm)</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>CHEST(exp.)</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>BICEPS</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>FOREARM</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>WRIST</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>FIST</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>WAIST</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>FIST</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>THIGH</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>CALF</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>ANKLE</td>
            <td></td>
        </tr>
    </tbody>
</table>